/* Card */

/* Content - Index */
/* 	
	-> Colunas
	-> Card
	-> Message card
*/

/* Colunas */
.col{
	@include make-col(12);
	@include media-breakpoint-up('sm'){
		@include make-col(6);
		padding: 0;
	}
}

/* Card */
.card{
	height: $card-height;
	margin: $card-gutter;
	border: 0;
}

.card-header{
	display: flex;
	justify-content: space-between;
	border: 0;
	background-color: $white;
}

.card-header-title{
	color: $general-color;
	text-transform: uppercase;
}

.btn-card-title{
	padding: 1px 5px;
	border: 1px solid #ccc;
	background-color: $white;
	color: #ccc;
	font-size: 0.8em;
}

/* Mensagem */
.message{
	display: flex;
	&:last-child{
		.message-image{
			&:after{
				display: none;
			}
		}
	}
}

.message-image{
	display:flex;
	flex-direction: column;
	align-items: center;
	&:after{
		content: '';
		display: block;
		width: 0;
		height: $message-lines-height;
		margin: $message-lines-margin 0;
		border: 1px solid $img-bg;
		@include media-breakpoint-up('lg'){
			height: $message-lines-height-lg;
			margin: $message-lines-margin-lg 0;
		}
	}
}

.message-body{
	width: 85%;
	height: $message-text-mHeight + 4*$message-lines-margin;
	margin-left: 25px;
	@include media-breakpoint-up('lg'){
		height: $message-text-mHeight-lg + 4*$message-lines-margin-lg;	
	}
}

.message-user{
	display: flex;
	align-items: center;
	font-weight: bold;
	i{
		margin-left: 5px;
		color: $general-color;
		font-size: 0.6em;
		font-weight: normal;
	}
}

.message-text{
	display: -webkit-box;
	line-height: $message-text-mHeight/$message-text-lines;     
	max-height: $message-text-mHeight;     
	-webkit-line-clamp: $message-text-lines; 
	-webkit-box-orient: vertical;
	color: $general-color;
	font-size: 0.8em;
	overflow: hidden;
	text-overflow: ellipsis;
	@include media-breakpoint-up('lg'){
		line-height: $message-text-mHeight-lg/$message-text-lines-lg;     
		max-height: $message-text-mHeight-lg;     
		-webkit-line-clamp: $message-text-lines-lg;
	}
}