/* Header */

/* Content - Index */
/* 	
	-> Header
	-> Header Sidebar - Button
	-> Header Userarea
		-> Image
		-> Info
*/

/* Header */
.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: $header-height;
	background-color:$sidebar-bg;
	@include media-breakpoint-up('lg'){
		justify-content: flex-end;		
	}
}

/* Header Sidebar */
.header-sidebar{
	margin-left: 15px;
	font-size: 1.2em;
	i{
		padding: 4px;
		border: 1px solid $general-color;
		border-radius: 25%;
		color: $general-color;
		&:hover{
			background-color:#878787;
		}
	}
	@include media-breakpoint-up('lg'){
		display: none;
	}
}

/* Header Userarea*/
.header-userarea{
	display: flex;
	align-items: center;
}

/* Header Userarea - Image */
.header-user{
	display: flex;
	align-items: center;
	margin-right: 5px;
	color: $general-color;
	font-size: $header-user-size;
	font-weight: bold;
	transition: margin-right 1s;
	i{
		margin-left: 2px;
	}
	span{
		padding: 0 10px;
		color: $user-info-color;
	}
	@include media-breakpoint-up('lg'){
		margin-right: $header-user-info-width-margin-lg;
		span{
			border-right: 1px solid $general-color;
		}
	}
}

/* Header Userarea - Info */
.header-user-info{
	max-width: $header-user-info-width-margin;
	position: fixed;
	right: -$header-user-info-width-margin;
	color: $user-info-color;
	font-size: $header-user-size;
	transition: right 1s;
	@include media-breakpoint-up('lg'){
		max-width: $header-user-info-width-margin-lg;
		right: 0;
	}
}

.header-userarea-moved{
	.header-user-info{
		right: 0;
		span{
			border-right: 1px solid $general-color;
		}
	}
	.header-user{
		margin-right: $header-user-info-width-margin;
		@include media-breakpoint-up('lg'){
			margin-right: $header-user-info-width-margin-lg;
		}
	}
}

.user-list{
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.user-list-item{
	padding: 0 3px;
	border-right: 1px solid $general-color;
	&:last-child{
		border: 0;
	}
	@include media-breakpoint-up('lg'){
		padding: 0 10px;
	}
}