@import "../components/bootstrap/scss/bootstrap.scss";
@import "../components/components-font-awesome/scss/font-awesome.scss";

/* All variables are inside bootstrap's _custom.scss file */

@import "sidebar";
@import "header";
@import "card";


body{
	background-color: $body-bg;
}

.imagem{
	content: '';
	width: $header-height - 2*10px;
	height: $header-height - 2*10px;
	margin: 0;
	border-radius: 50%;
	background-color: $img-bg;
}

.content{
	margin: 0;
	padding: 0;
}

@include media-breakpoint-up('lg'){
	.content{
		width: $content-width;
		margin-left: $sidebar-width-left-offset;
	}	
}