@import "../components/bootstrap/scss/bootstrap.scss";
@import "../../bower_components/components-font-awesome/scss/font-awesome.scss";


/* Sidebar */
.sidebar{
	width: 30%;
	max-width: 160px;
	height: 100%;
	position: fixed;
	top: 0;
	left: -160px;
	z-index: 1001;
	background-color: #353535;
	transition: left .2s;
}

.sidebar-header{
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #282828;
	img{
		height: 50px;
	}
}

.nav{
	display: flex;
	flex-direction: column;
}

.nav-item{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1.6em 1em;
	position: relative;
	font-size: 0.6em;
	font-weight: bold;
	color: #5d5d5d;
	border-bottom: 1px solid #282828;
	i{
		font-size: 3em;
	}
	&:nth-child(1){
		border-left: 2px solid #07c638;
		background-color: #3f3f3f;
		color: #fff;
		&:after{
			content:"";
		    position:absolute;
		    height:0;
		    width:0;
		    right:0;
		    border:5px solid transparent;
		    border-right: 5px solid #fff;
		}
	}
	&:nth-child(2){
		border-left: 2px solid #09aac7;		
	}
	&:nth-child(3){
		border-left: 2px solid #ddbe10;		
	}
	&:nth-child(4){
		border-left: 2px solid #fc4236;		
	}
	&:hover{
		background-color: #585858;
		color: #fff;
	}
}

.notification {
     display: flex;   /* 1 */
     align-items: center;  /* 2 */
}

.notification-circle {
     flex: 0 0 17px;  /* 3 */
     height: 17px;
     background-color: #ff0000; 
     border-radius: 75px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #fff;
	 margin-top: -20px;
	 margin-left: -18px;
	 z-index: 1000;
}

.notification-block {
     margin-left: -12px;   /* 4 */
     z-index: -1;  /* 6 */
     margin-bottom: 0;
}

.open-sidebar{
	&:after{
		content:"";
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		z-index:1000;
	}
	.sidebar{
		left:0;
	}
}

/* Header */
.header{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color:#353535;
	height: 60px;
}

.header-sidebar{
	margin-left: 15px;
	font-size: 1.2em;
	i{
		padding: 4px;
		color: #5d5d5d;
		border: 1px solid #5d5d5d;
		border-radius: 25%;
		&:hover{
			background-color:#878787;
		}
	}
}

.header-userarea{
	display: flex;
	align-items: center;
}


.header-user{
	display: flex;
	align-items: center;
	color: #fff;
	transition: margin-right 1s;
	img{
		height: 40px;
	}
	i{
		margin-left: 2px;
	}
	margin-right: 5px;
}

.header-user-info{
	max-width: 175px;
	font-size: 0.77em;
	color: #fff;
	position: fixed;
	right: -175px;
	transition: right 1s;
}

.header-userarea-moved{
	.header-user-info{
		right: 0;
	}
	.header-user{
		margin-right: 175px;
	}
}

.user-list{
	display: flex;
	flex-direction: row;
	margin: 0;
	list-style-type: none;
	padding: 0;
}

.user-list-item{
	border-right: 1px solid #fff;
	padding: 0 3px;
	&:last-child{
		border: 0;
	}
	&:first-child{
		font-weight: bold;
	}
}

body{
	background-color: #ccc;
}

.card{
	margin: 5px;
}

.card-header{
	display: flex;
	justify-content: space-between;
	background-color: #fff;
}

.card-header-title{
	text-transform: uppercase;
}

.btn-card-title{
	border: 1px solid #ccc;
	background-color: #fff;
	padding: 1px 5px;
	font-size: 0.8em;
	color: #7d7d7d;
}

.col{
	@include make-col(12);
}

.message{
	display: flex;
	&:last-child{
		.message-image{
			&:after{
				display: none;
			}
		}
	}
}

.message-image{
	display:flex;
	flex-direction: column;
	align-items: center;
	&:after{
		border: 1px solid #d3d3d3;
		width: 0;
		height: 90px;
		display: block;
		content: '';
		margin-top: 10px;
	}
}

.message-body{
	margin-left: 25px;
	height: 150px;
	width: 85%;
}

.message-user{
	display: flex;
	align-items: center;
	font-weight: bold;
	i{
		font-weight: normal;
		color: #5d5d5d;
		font-size: 0.6em;
		margin-left: 5px;
	}
}

.message-text{
	font-size: 0.8em;
	width: inherit;
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 22px;     /* fallback */
   max-height: 110px;      /* fallback */
   -webkit-line-clamp: 5; /* number of lines to show */
   -webkit-box-orient: vertical;;
}

.imagem{
	height: 40px;
	width: 40px;
	background-color: #d3d3d3;
	border-radius: 50%;
	content: '';
	margin: 0;
}