@import "../components/bootstrap/scss/bootstrap.scss";
@import "../../bower_components/components-font-awesome/scss/font-awesome.scss";

@import "sidebar";
@import "header";
@import "card";


body{
	background-color: $body-bg;
}

.imagem{
	content: '';
	width: $header-height - 2*10px;
	height: $header-height - 2*10px;
	margin: 0;
	border-radius: 50%;
	background-color: $img-bg;
}